.userCard {
  width: 240px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: #fafafa;
  margin: 10px;
}
.userCardTop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #808080;
  padding-top: 10px;
  padding-bottom: 10px;
}
.img {
  max-width: 80px;
  border-radius: 50%;
}
.name {
  font-weight: bold;
  color: black;
}
.userCardBot {
  display: flex;
  flex-direction: row;
  background-color: #d3d3d3;
}
.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #808080;
  flex: 1;
}
